FORMAT: 1A
HOST: https://www.eventbriteapi.com/v3/

# Eventbrite API V3

## Quick Start
The Eventbrite API is REST-based (though we generally use POST rather than PUT), uses OAuth2 for authentication, and always returns responses in JSON.<br />

All you’ll need to interact with the API are your favourite HTTP library and a JSON parser - in the examples below, we’ll be using Python with the <a href="https://github.com/kennethreitz/requests" target="_blank">requests</a> library.

## Authentication

The Eventbrite API uses OAuth2 for authentication; while it’s a reasonably simple protocol, it’s also not very strongly specified, so make sure you read the documentation below to make sure you’re using it correctly.

OAuth authorize URL:  
`https://www.eventbrite.com/oauth/authorize`

OAuth access token URL:  
`https://www.eventbrite.com/oauth/token`

### Getting a Token

All API requests must be authenticated with a valid OAuth token. Tokens are tied to user accounts; if you’re just using the API for a single user or organizer, then follow Personal Tokens; if you’re using the API for many Eventbrite users, then follow OAuth Token Flow.

<b>Personal Tokens</b>  
As many of our API users are just doing an integration for a single user or organizer, we have a streamlined workflow for users to get an OAuth token just to represent themselves.

All you need to do is visit your apps page, and make sure you have at least one app created. Every app you own will have a <em>"Your OAuth Token"</em> entry; click <em>Show</em> on that to reveal a premade OAuth token for your account.

<b>OAuth Token Flow</b>  
If you’re accessing the API on behalf of users other than yourself - for example, if you’re a service building on top of Eventbrite - you’ll need to do the full OAuth token flow for each user that you want to access us on behalf of.

Visually, the users will go from your website or application to our website, confirm that they want to allow access to your application, and then we’ll redirect back to you with a token you can store and use to access the API on their behalf.

Sometimes, the tokens may expire (for example, if the user changes their password); in this case, you’ll get an error back that the token is invalid and you should direct the user through the flow once again. If a user still has your app approved, we’ll just redirect back to you immediately with a new token, skipping the approval screen.

To authenticate users via the API, you’ll need the following details (available in the apps management page located in your account settings):

<b>App Key:</b> Identifies your app during the OAuth handshake. Not secret.  
<b>Client Secret:</b> Identifies your app during a server-side handshake. Secret.  
<b>Redirect URI:</b> The URI we’ll redirect users to once they approve your app. You need to set this in the Eventbrite app settings.

<b>Client-side flow</b>  
To authenticate a user from a client-side (JavaScript) application, simply redirect your users to the following url:

`https://www.eventbrite.com/oauth/authorize?response_type=token&client_id=YOUR_APP_KEY&redirect_uri=YOUR_URL`

The user be redirected to an Approve/Deny page on Eventbrite. When they select either option, they’ll be redirected back to the Redirect URI you set; if they select “approve”, there will also be an OAuth token in the hash fragment of the URL.

<b>Server-side flow</b>  
To authenticate a user from a server-side application, first redirect them to our authorization URL:

`https://www.eventbrite.com/oauth/authorize?response_type=code&client_id=YOUR_APP_KEY`

The user will see an <b>Approve/Deny</b> page. When they hit either option, they’ll be redirected back to your Redirect URI; if they hit Approve, then there will be a code query parameter on the end of the URL representing an access code.

You must then exchange this access code for an OAuth token. Send a `POST` request to:
`https://www.eventbrite.com/oauth/token`

This `POST` must contain the following urlencoded data, along with a Content-type: `application/x-www-form-urlencoded header:`

<pre><code>code=THE_USERS_AUTH_CODE&client_secret=YOUR_CLIENT_SECRET&client_id=YOUR_API_KEY&grant_type=authorization_code</pre></code>

The subsequent `POST` will contain the user’s access_token.

<b>Authenticating requests</b>  
Once you have an OAuth token, you must include it on all requests - every request to the OAuth API must be authenticated, no anonymous access is allowed.

You have two options to pass the token: using the authentication header (preferred) or as a query string parameter

<b>Authorization header</b>  
Just include an Authorization header with the value Bearer MYTOKEN:

`Authorization: Bearer SESXYS4X3FJ5LHZRWGKQ`

<b>Query string parameter</b>  
Include the token on the end of the URL as the token parameter:

`https://www.eventbriteapi.com/v3/users/me/?token=SESXYS4X3FJ5LHZRWGKQ`

## Errors

When an error occurs during an API request, you’ll get a response with an error HTTP status (in the 400 or 500 range), as well as a JSON response containing more information about the error.

A typical error response looks like this:
<pre><code>
{
    "error": "VENUE_AND_ONLINE",
    "error_description": "You cannot both specify a venue and set online_event",
    "status_code": 400
}
</code></pre>

The error key contains a constant string value for error - in this case, `VENUE_AND_ONLINE` - and is what you should key your error handling off of, as this string won’t change depending on locale or as we change the API over time.

The error_description key is for developer information only and will usually contain a more informative explanation for the error, should you be confused. You should not display this string to your users; it’s often very technical and may not be localized to their language.

The status_code value just mirrors the HTTP status code you got as part of the request. It’s there as a convenience if your HTTP library makes it very hard to get status codes, or has one error handler for all error codes.

### Common Errors

You can find a listing of the individual errors for each endpoint on their endpoint entries, but there are also some common errors that all endpoints might return:

- **NOT_FOUND:** The URL you gave is not valid. Status code 404.
- **INVALID_AUTH:** Your authentication (usually OAuth token) is incorrect. Status code 400.
- **INVALID_AUTH_HEADER:** Your Authentication header is malformed. Status code 400.
- **NO_AUTH:** You did not provide any authentication at all. Status code 401.
- **BAD_PAGE:** The page number you gave does not exist or makes no sense (e.g. negative). Status code 400.
- **NOT_AUTHORIZED:** The user you are connecting as is not allowed to view/perform that action. Status code 403.
- **METHOD_NOT_ALLOWED:** You sent a method to the endpoint it can’t handle (e.g. DELETE to a GET-only endpoint). Status code 405.
- **HIT_RATE_LIMIT:** You have hit your hourly rate limit for this token to the API. Default rate limits are set to 1,000 calls per hour. Status code 429.
- **INTERNAL_ERROR:** An unhandled error occured in Eventbrite. Contact developer support if this persists. Status code 500.
- **EXPANSION_FAILED:** There was an unhandled error trying to expand one of the specified expansions; the request is likely to succeed if you don’t ask for expansions, but contact developer support if this persists. Status code 500.
- **INVALID_BATCH:** Your batched request was malformed or missing. Status code 400.

## Paginated Responses

All API endpoints which return multiple objects will return paginated responses; as well as the list of objects (which will usually be under a key like events or attendees, depending on the endpoint) there will also be a pagination key:
<pre><code>{
    "pagination": {
        "object_count": 13,
        "page_number": 2,
        "page_size": 50,
        "page_count": 2,
        "continuation": "dGhpcyBpcyBhIGNvbnRpbnVhdGlvbiB0b2tlbg"
    },
    "events": [
        ...
    ]
}
</code></pre>
This pagination key gives you information about the number of pages in the result, and how many objects are returned:

- **page_number:** The current page number <em>(starts at 1)</em>
- **page_size:** The number of objects on each page <em>(roughly)</em>
- **object_count:** The total number of objects across all pages <em>(optional)</em>
- **page_count:** The total number of pages <em>(starting at 1) (optional)</em>
- **continuation:** A token to return to the server to get the next set of results <em>(see “Continuated Responses” below)</em>

You can specify the page number you would like to request using the page parameter. However, page sizes are fixed, usually around 50 objects per page, but it may be smaller or larger depending on the particular endpoint (the sizes are tuned to improve API response speed and cacheability).

In addition, you’re not guaranteed to get back the given number of items per page; you may get more or less depending on pagination backend optimizations. It should be treated as a rough guide.

> <h4>Note</h4> that while we guarantee stable ordering of objects in paginated resources, the objects being returned may change between requests (e.g. the orders endpoint for a fast-selling event; between requesting page 1 and page 2, more items may have appeared on or been removed from page 1).

These endpoints will usually have an alternative way of querying without missing objects, however, often based off of modified times. See the individual endpoint pages for details.

Also note that on some endpoints, you won’t get back object_count and page_count, and you’re expected to just keep incrementing the page number until you get the BAD_PAGE error or you have enough data. These endpoints typically have a very large number of results (for example, the endpoint that lists every event on Eventbrite), and calculating the exact count would take too long.



### Continuated Responses

In addition to standard pagination, some endpoints will also include continuation tokens. A continuation token is a string returned by the server that the client is expected to include in the next request to get the next page of results. In lieu of, or in addition to, the pagination items listed above, the following keys will be added to the pagination key in the response:

continuation: a string containing the continuation token
has_more_items: a boolean indicating if the next request will contain any results
The intended way to use continuation tokens is:

Make an initial request to an endpoint.
Store the token returned by the server, and include it in the next request
When all records have been retrieved, the continuation key will not be present in the response.
For example, if the response for your initial request to the /v3/example/ endpoint looks like this:
<pre><code>{
    "pagination": {
        ...
        "continuation": "dGhpcyBpcyBwYWdlIDE",
        "has_more_items": true
    },
    "events": [
        ...
    ]
}

Then to receive the next page of the results for that endpoint, you would make a request to /v3/example/?continuation=dGhpcyBpcyBwYWdlIDE, which may yield a response like this:

{
    "pagination": {
        ...
        "has_more_items": false
    },
    "events": []
}
</code></pre>

In this case, there is no continuation key, so there are no more results. The next request can be made without a continuation token to get new results.

In addition to continuation, we also include a has_more_items key to indicate to the client whether a subsequent request will yield any results. This is a convenience for the client, and subsequent requests would return no results.
## Expansions

Eventbrite has many models that refer to each other, and often you’ll want to fetch related data along with the primary model you’re querying - for example, you’ll want to fetch an organizer along with each event you get back.

The way of doing this in the Eventbrite API is called **‘expansions’**: you can specify a list of relationships to additionally fetch with every call.

The available expansions are based on the type of object you’re being returned; each of the return formats lists available expansions, as you can see in the event and attendee documentation, for example.

To ask for an expansion, just pass a comma-separated list of expansion names as the expand querystring argument in your URL.

<em>For example, to fetch all my own events with organizers and venues expanded:</em>

`/v3/users/me/owned_events/?expand=organizer,venue`

Note that each expansion you specify will slow down your API request slightly, so try to use as few as possible to ensure faster response times.

### Nested expansions

Sometimes you might want to expand the attributes of an object that has itself been returned by an expansion.

<em>For example, you may have a list of orders and want to retrieve the event for each of those orders and the venue for each of those events:</em>

`/v3/users/me/orders/?expand=event.venue`

Expansions can be nested in this way **up to four levels deep**.
## Batched Requests

To save on the added latency of doing several API requests at once - especially in high-latency environments like mobile data - it’s possible to do a batched request to the API and have our servers process all of your requests at once, saving you the cost of several request round trips.

> <h4>Note</h4>Batched requests currently execute serially on our servers, rather than in parallel, so they are not suitable for speeding up a set of very slow operations, but are much better for a large volume of quick operations.

To do a batched request, you can send a JSON-formatted list of your requests to the /batch/ endpoint using POST, as the POST parameter batch:

<code>[  
    {"method":"GET", "relative_url":"users/me"},  
    {"method":"GET", "relative_url":"users/me/owned_events/"},  
    {"method":"GET", "relative_url":"users/me/owned_events/?page=2"}  
]</code>


You can also send application/json as content-type by passing a double encoded JSON object:


<pre><code>{ "batch":  
"[{\"method\":\"GET\", \"relative_url\":\"users/me/\"},  
{\"method\":\"GET\", \"relative_url\":\"users/me/owned_events/\"},  
{\"method\":\"GET\", \"relative_url\":\"users/me/owned_events/?page=2\"}]"  
}</code></pre>

And can pass request bodies (for e.g. POST data):

<pre><code>[  
    {"method":"POST", "relative_url":"events/", "body":"event.name.html=Test&event.organizer_id=34"},  
]</code></pre>

> <h4>Warning</h4> POST support is not yet complete, and will not pass any parameters. This documentation is here for future reference.

This results in a JSON formatted response, with one response entry for each request you submitted:
<pre><code>[
    {
        "body": "{\"emails\": [{\"email\": \"andrewgodwin@evbqa.com\", \"verified\": false, \"primary\": true}], \"id\": \"106645007774\", \"name\": \"andrewgodwin@evbqa.com\", \"first_name\": null, \"last_name\": null}",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Vary": "Accept",
            "Allow": "GET, HEAD, OPTIONS"
        },
        "code": 200
    },
    {
        "body": "{\"pagination\": {...}, \"events\": [...]}",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Vary": "Accept",
            "Allow": "GET, HEAD, OPTIONS"
        },
        "code": 200
    },
    {
        "body": "{\"status_code\": 400, \"error_description\": \"You passed an invalid page number.\", \"error\": \"BAD_PAGE\"}",
        "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Vary": "Accept",
            "Allow": "GET, HEAD, OPTIONS"
        },
        "code": 400
    }
]</code></pre>

### A response has three keys:  
    **Body,** which is a string containing the HTTP body of the request.  
    **Headers,** a dictionary/object containing the HTTP headers of the response.  
    **Code,** an integer containing the HTTP status code of the response.  

> Notably, the response body will need additional decoding by your client before it can be parsed (it is not just broken out as separate JSON as it might contain different kinds of response data).  

Errors will appear in the JSON responses
<pre><code>{
    "body": "{\"status_code\": 400, \"error_description\": \"You passed an invalid page number.\", \"error\": \"BAD_PAGE\"}",
    "headers": {
        "Content-Type": "application/json",
        "Access-Control-Allow-Origin": "*",
        "Vary": "Accept",
        "Allow": "GET, HEAD, OPTIONS"
    },
    "code": 400
}</pre></code>
you can see above this response has a `400` error code and is defined as a `BAD_PAGE` error  
> Most of the time `POST /batch/` will always return with a code of `200`.

## API Switches

### What do switches do?

Switches allow for the dynamic modification of Eventbrite API endpoint behaviors. They can be used to enable new or experimental features, change response formats, and other behaviors. In general, switches are used to ease the process of phasing in new API features that would otherwise break clients. Clients may activate or deactivate switchable features by setting switch headers on API requests.

### Switch lifecycle

A feature and its switch go through three phases:

- Opt-in, in which a new switch will be available to turn on the new feature.
- Opt-out, in which the feature will be on by default and the switch will be available to turn it off.
- Fully integrated, at which time the switch will be deprecated.

> Eventbrite will notify all API consumers before any switchable feature is introduced or enters a new phase.

### Public and protected switches

Switches may be exposed only to certain clients, at Eventbrite’s discretion. Such switches will be restricted to a set of whitelisted API keys, and any client attempting to set a protected switch using a non-whitelisted API key will get a permission error.

Switches that are not protected are available to be used by any client.

### Using switches

#### Making a request using switch headers
Clients use request headers to set switches on API requests. A switch header may contain any number of switch names, separated by commas. Switch names consist of letters, numbers and underscores, and are case-insensitive.

To use the example of a switch called “EVENT_FORMAT_OCT_2016” that activates a new Event serialization format:
<pre><code>GET /v3/events/12345/ Eb-Api-Switches-Enabled: EVENT_FORMAT_OCT_2016
This call will return the event with ID 12345 using the new format.</code></pre>

If the same switch were opt-out, and the client needed to make a request using the old Event format, it would deactivate the switch like so:

<pre><code>GET /v3/events/12345/ Eb-Api-Switches-Disabled: EVENT_FORMAT_OCT_2016
This call would return the event using the old format.</code></pre>

### Errors

A request containing switch headers may return the following error codes:

**409 REQUEST_CONFLICT:** Conflicting switches were passed. This happens if the client passes the same switch in both the Enabled and Disabled headers.
**403 NOT_AUTHORIZED:** The client sent a header for a switch that it is not allowed to set.
**400 BAD_REQUEST:** The client sent a header for a switch that does not exist or has been deprecated.
## Basic Types

### Integer

`10`

A standard JSON integer.

### Boolean

`true`

A standard JSON boolean.

### String

`"Ihre Aal ist r\u00fcckw\u00e4rts"`

A standard JSON string.

(When POSTing data as `application/x-www-form-urlencoded`, use a UTF-8
encoded string instead rather than unicode escapes)

### Float

`72.19381730`

A standard JSON floating-point decimal.

### Decimal

`"72.19381730"`

An arbitrary-precision decimal number encoded as a standard JSON string. Decimals are used in cases where
floating-point arithmetic inaccuracies could arise with standard JSON floating-point decimals.

### Date

`"2010-01-31"`

A date represented as a string in ISO8601 date format.

### Datetime

`"2010-01-31T13:00:00Z"`

A datetime represented as a string in ISO8601 combined date and time format,
always in UTC.

### Local Datetime

`"2010-01-31T13:00:00"`

A datetime represented as a string in Naive Local ISO8601 date and time format,
in the timezone of the event.

### Datetime with Timezone

<pre><code>{
    "timezone": "America/Los_Angeles",
    "utc": "2018-05-12T02:00:00Z",
    "local": "2018-05-11T19:00:00"
}
</code></pre>

A combination of a timezone from the Olson specification as a :format:`string`,
and two :format:`datetime` values, one for the UTC time represented and one
for the local time in the named timezone.

When being sent as input, only `utc` and `timezone` are required; `local`
is ignored.

This value is only used for fields where the timezone itself is important
information - for example, event start times.

### List

<pre><code>[1, 2, 3, 4]
"1,2,3,4"
</code></pre>

A list of literal values. With a content-type of `application/json`, it
should be a JSON array of literals, otherwise, for
`application/x-www-form-urlencoded` it should be a string than is a comma
separated list of values.

### Object List

<pre><code>[{"name1": "val1", "name2": "val2"}, {...}]
"[{\"name1\": \"val1\", \"name2\": \"val2\"}, {...}]"
</code></pre>

A JSON list of object values. With a content-type of `application/json`, it
should be a JSON array, otherwise, for `application/x-www-form-urlencoded`
it should be a string encoding of a JSON array.

### Dictionary

<pre><code>{"key1": "value1", "key2": {"objectkey": "value"}, "key3": [list_values], {...}}
"{\"key2\": {\"key3\": \"value\"}, \"key1\": \"value\", \"key4\": [\"value\", \"value\"]}"
</code></pre>

A JSON object representation of a dictionary. With a content-type of
`application/json`, it should be a JSON object, otherwise, for
`application/x-www-form-urlencoded` it should be a string encoding
of a JSON object.

### Multipart Text

<pre><code>{
    "text": "Event Name",
    "html": "<b>Event</b> Name",
}
</code></pre>

Returned for fields which represent HTML, like event names
and descriptions.

The `html` key represents the original HTML (which _should_
be sanitized and free from injected script tags etc., but as always, be careful
what you put in your DOM), while the `text` key is a stripped version useful
for places where you can't or don't need to display the full HTML version.

### Country Code

`"AR"`

The ISO 3166 alpha-2 code of a country.

### Currency Code

`"USD"`

An ISO 4217 3-character code of a currency

### Currency

<pre><code>{
    "currency": "USD",
    "value": 432,
    "major_value": "4.32",
    "display": "4.32 USD"
}
</code></pre>

When submitting as form-encoded POST data, you can instead provide a string
indicating the currency and the value separated by a comma, e.g. `USD,432` -
however, when you submit a JSON POST body, you must submit this as a JSON
object with the `currency` and `value` fields.

Returned for monetary values, such as ticket prices, fees charged and
tax amounts.

Currencies are represented as their currency code and an integer value,
where the code is the currency code as defined by
`ISO 4217 <http://en.wikipedia.org/wiki/ISO_4217>`\_ and the integer value
is the number of units of the minor unit of the currency (e.g. cents for
US dollars).

You can get a value in the currency's major unit - for example, dollars
or pound sterling - by taking the integer value provided and shifting the
decimal point left by the exponent value for that currency as defined in
`ISO 4217 <http://en.wikipedia.org/wiki/ISO_4217>`\_.

For example, the exponent for USD (the US dollar) is 2, so a value of
`2311` becomes `$23.11`. For JPY (the Japanese yen) it's 0, so
a value of `2311` becomes `¥2311`.

Eventbrite does not currently sell tickets in non-decimal currencies,
such as the Malagasy ariary (MGA), but any value for them would also be
returned in minor units (for example, `("MGA", 7)` would mean 1.2 MGA,
or 1 ariary and 2 francs).

The `display` value is provided for your convenience; its formatting
may change depending on the locale you query the API with (for example,
commas for decimal separators in European locales).

### Address

<pre><code>{
    "address_1": "333 O'Farrell St",
    "address_2": "Suite 400",
    "city": "San Francisco",
    "region": "CA",
    "postal_code": "94102",
    "country": "US",
    "latitude": "37.7576792",
    "longitude": "-122.5078119",
    "localized_address_display": "333 O'Farrell St Suite 400, San Francisco, CA 94102",
    "localized_area_display": "San Francisco, CA",
    "localized_multi_line_address_display": ["333 O'Farrell St", "Suite 400", "San Francisco, CA 94102"]
}
</code></pre>

Though address formatting varies considerably between different countries and
regions, Eventbrite still has a common address return format to keep things
consistent.

In general, you should treat `address_1`, `address_2`, `city`, and
`region` as opaque lines of the address printed in that order. The
`postal_code` field contains the local postal or zip code equivalent, if
available, and the `country` field contains the `ISO 3166 <http://en.wikipedia.org/wiki/ISO_3166-1>`\_
country code for the country (with the name of the country broken out
for your convenience).

All fields apart from `address_1` and `country` are optional.

#### Address Fields

| Field                                  | Type      | Description                                                                                                                 |
| :------------------------------------- | :-------- | --------------------------------------------------------------------------------------------------------------------------- |
| `address_1`                            | `string`  | The street/location address (part 1)                                                                                        |
| `address_2`                            | `string`  | The street/location address (part 2)                                                                                        |
| `city`                                 | `string`  | The city                                                                                                                    |
| `region`                               | `string`  | The ISO 3166-2 2- or 3-character region code for the state, province, region, or district                                   |
| `postal_code`                          | `string`  | The postal code                                                                                                             |
| `country`                              | `string`  | The ISO 3166-1 2-character international code for the country                                                               |
| `latitude`                             | `decimal` | The latitude portion of the address coordinates                                                                             |
| `longitude`                            | `decimal` | The longitude portion of the address coordinates                                                                            |
| `localized_address_display`            | `string`  | The format of the address display localized to the address country                                                          |
| `localized_area_display`               | `string`  | The format of the address's area display localized to the address country                                                   |
| `localized_multi_line_address_display` | `list`    | The multi-line format order of the address display localized to the address country, where each line is an item in the list |

### Object

<pre><code>{
    "resource_uri": "https://www.eventbriteapi.com/v3/events/3564383166/",
    "id": "3564383166",
}
</code></pre>

The standard base representation for first-class objects in Eventbrite, such
as :format:`event`, :format:`venue` and :format:`order`.

The `resource_uri` is an absolute URL to the API endpoint that will return
you the canonical representation of the event, and the `id` is a
:format:`string` that represents a unique identifer for the event (note
that it is not necessarily numeric).

Other fields on objects are defined on their individual pages, but note that
fields may not be present if their value is `null`; we have noted fields
that may not contain a value with `(optional)`.

# Group Event

<a name="event_object"></a>
## Event Object
The Event object represents an Eventbrite Event. An Event is owned by one [Organization](#organization_object).

#### Public Fields

Use these fields to specify information about an Event. For publically listed Events, this information can be retrieved by all Eventbrite [Users](#user_object) and Eventbrite applications.

|     Field      |       Type       |                                               Description                                               |
| :------------- | :--------------- | ------------------------------------------------------------------------------------------------------- |
| `name`         | `multipart-text` | Event name.                                                                                             |
| `summary`      | `string`         | (Optional) Event summary. Short summary describing the event and its purpose.                           |
| `description`  | `multipart-text` | (Optional) Event description. Description can be lengthy and have significant formatting.               |
| `url`          | `string`         | URL of the Event's Listing page on eventbrite.com.                                                      |
| `start`        | `datetime-tz`    | Event start date and time.                                                                              |
| `end`          | `datetime-tz`    | Event end date and time.                                                                                |
| `created`      | `datetime`       | Event creation date and time.                                                                           |
| `changed`      | `datetime`       | Date and time of most recent changes to the Event.                                                      |
| `status`       | `string`         | Event status. Can be `draft`, `live`, `started`, `ended`, `completed` and `canceled`.                      |
| `currency`     | `string`         | Event [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code.                                 |
| `online_event` | `boolean`        | true = Specifies that the Event is online only (i.e. the Event does not have a [Venue](#venue_object)). |

#### Private Fields

Use these fields to specify properties of an Event that are only available to the [User](#user_object).

|        Field         |   Type    |                                                                                                Description                                                                                                |
| :------------------- | :-------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `listed`             | `boolean` | true = Allows the Event to be publicly searchable on the Eventbrite website.                                                                                                                              |
| `shareable`          | `boolean` | true = Event is shareable, by including social sharing buttons for the Event to Eventbrite applications.                                                                                                  |
| `invite_only`        | `boolean` | true = Only invitees who have received an email inviting them to the Event are able to see Eventbrite applications.                                                                                       |
| `show_remaining`     | `boolean` | true = Provides, to Eventbrite applications, the total number of remaining tickets for the Event.                                                                                                         |
| `password`           | `string`  | Event password used by visitors to access the details of the Event.                                                                                                                                       |
| `capacity`           | `integer` | Maximum number of tickets for the Event that can be sold to [Attendees](#attendee_object). The total capacity is calculated by the sum of the quantity_total of the [Ticket Class](#ticket_class_object). |
| `capacity_is_custom` | `boolean` | true = Use custom capacity value to specify the maximum number of Attendees for the Event. False = Calculate the maximum number of Attendees for the Event from the total of all Ticket Class capacities. |

#### Expansions
Information from expansions fields are not normally returned when requesting information. To receive this information in a request, expand the request.


|       Expansion       |        Source         |                                                                                                                       Description                                                                                                                        |
| :-------------------- | :-------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `logo`                | `logo_id`             | Event image logo.                                                                                                                                                                                                                                        |
| `venue`               | `venue_id`            | Event [Venue](#venue_object).                                                                                                                                                                                                                            |
| `organizer`           | `organizer_id`        | Event [Organizer](#organizer_object).                                                                                                                                                                                                                    |
| `format`              | `format_id`           | Event [Format](#formats_object).                                                                                                                                                                                                                         |
| `category`            | `category_id`         | Event [Category](#categories_object).                                                                                                                                                                                                                    |
| `subcategory`         | `subcategory_id`      | Event [Subcategory](#subcategories_object).                                                                                                                                                                                                              |
| `bookmark_info`       | `bookmark_info`       | Indicates whether a user has saved the Event as a bookmark. Returns false if there are no bookmarks. If there are bookmarks, returns a a dictionary specifying the number of end-users who have bookmarked the Event as a count object like `{count:3}`. |
| `refund_policy`       | `refund_policy`       | Event refund policy.                                                                                                                                                                                                                                     |
| `ticket_availability` | `ticket_availability` | Number of Event Ticket Classes available for registration (free) or purchase.                                                                                                                                                                            |
| `external_ticketing`  | `external_ticketing`  | External ticketing data for the Event.                                                                                                                                                                                                                   |
| `music_properties`    | `music_properties`    | Properties for a music Event. Including `age_restriction` and `presented_by` attributes.                                                                                                                                                                 |
| `publish_settings`    | `publish_settings`    | Event publish settings.                                                                                                                                                                                                                                  |
| `guestlist_metrics`   | `guestlist_metrics`   | Metrics of Event guestlists.                                                                                                                                                                                                                             |
| `basic_inventory_info`| `basic_inventory_info`| Indicates whether the event has Ticket Classes, Inventory Tiers, Donation Ticket Classes, Ticket Rules, and/or Inventory Add-Ons                                                                                                                         |

### Retrieve [/events/]

### Retrieve an Event [GET /events/{event_id}/]
Retrieve an Event by Event ID.

> **Note**: If the Event being retrieved was created using the new version of Create, then you may notice that the Event’s description field is now being used to hold the event summary. To retrieve your event’s fully-rendered HTML description, you will need to make an additional API call to retrieve the Event's full HTML description.


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
+ Request
    + Headers
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Event)

### Retrieve Event HTML Description [GET /events/{event_id}/description/]

See [Event Description](#event_description) for how to retrieve and set your event's description.

## Create [/events-create/]

### Create an Event [POST /organizations/{organization_id}/events/]
Create a new Event.


+ Parameters
    + organization_id: 12345 (string) - ID of the Organization that owns the Event.
+ Request
    + Attributes
        + event (Event Create)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Event)
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + DATE_CONFLICT - Start date cannot be after end date
                + DIFFERENT_TIMEZONES - You have passed different timezones for the start and end times (they must be the same)
                + INVALID_DATE - Start and end dates cannot be in the past.
                + INVENTORY_TYPE_CONFLICT - Only a single inventory type may be set at once.
                + INVITE_CONFLICT - You have set both listed and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + NO_DEFAULT_ORGANIZER - The event does not have an organizer ID, and no default organizer could be found for the user.
                + NO_PACKAGE_SELECTED - You need to select a package to create an event. Go to /organizations/:id/assortment/ to select a package
                + NO_VENUE - You have attempted to create an event without a venue.
                + PASSWORD_CONFLICT - You have set both listed and password; these two options are mutually exclusive, and you are only allowed to set one.
                + SHARE_INVITE_CONFLICT - You have set both shareable and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + UNSUPPORTED_TIMEZONE - The time zone for the start and end times does not exist.
                + VENUE_AND_ONLINE - You have set both online_event and venue_id; an event can event can either have a venue or be online, but not both at the same time.
                + SUMMARY_DESCRIPTION_CONFLICT - You have set values for both `summary` and `description`; these two options are mutually exclusive, and you may only set one.

## Update [/events-update/]

### Update an Event [POST /events/{event_id}/]

Update Event by Event ID.


+ Parameters
    + event_id: 12345 (string) -  Event ID.
+ Request
    + Attributes
        + event (Event Update)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Event)
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + DATE_CONFLICT - Start date cannot be after end date
                + DIFFERENT_TIMEZONES - You have passed different timezones for the start and end times (they must be the same)
                + INVALID_DATE - Start and end dates cannot be in the past.
                + INVENTORY_TYPE_CONFLICT - Only a single inventory type may be set at once.
                + INVITE_CONFLICT - You have set both listed and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + NO_DEFAULT_ORGANIZER - The event does not have an organizer ID, and no default organizer could be found for the user.
                + NO_PACKAGE_SELECTED - You need to select a package to create an event. Go to /organizations/:id/assortment/ to select a package
                + NO_VENUE - You have attempted to create an event without a venue.
                + PASSWORD_CONFLICT - You have set both listed and password; these two options are mutually exclusive, and you are only allowed to set one.
                + SHARE_INVITE_CONFLICT - You have set both shareable and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + UNSUPPORTED_TIMEZONE - The time zone for the start and end times does not exist.
                + VENUE_AND_ONLINE - You have set both online_event and venue_id; an event can event can either have a venue or be online, but not both at the same time.
                + SUMMARY_DESCRIPTION_CONFLICT - You have set values for both `summary` and `description`; these two options are mutually exclusive, and you may only set one.


## List [/events-list/]

### List Events by Venue [GET /venues/{venue_id}/events]
List Events by Venue ID. Returns a paginated response.


+ Parameters
    + venue_id: 1234 (string, required) - Venue ID.
    + status: live (array[enum[string]], optional) - Filter Events at the Venue by status. Specify multiple status values as a comma delimited string.
        + Members
            + draft - A preliminary form of a possible future Event. 
            + live - The Event can accept registrations or purchases if ticket classes are available. 
            + started - The Event start date has passed.
            + ended - The Event end date has passed. 
            + completed - The funds for your Event have been paid out.
            + canceled - The Event has been canceled. 
            + all - List Events with any status.
    + `order_by`: start_asc (enum[string], optional) - Sort order of list of Events at the Venue.
        + Members
            + start_asc
            + start_desc
            + created_asc
            + created_desc
    + `start_date` (Venue Date, optional) - Filter Events at the Venue by a specified date range.
    + `only_public`: true (boolean, optional) - True = Filter public Events at the Venue. 
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + events (array[Event])
        
### List Events by Organization [GET /organizations/{organization_id}/events]

List Events by Organization ID. Returns a paginated response.

+ Parameters
    + organization_id: 1234 (string, required) - Organization ID.
    + name_filter  (string, optional) - Filter Organization's Events by specified name.
    + currency_filter: USD  (string, optional) -  Filter Organization's Events by specified currency.
    + `order_by`: start_asc (enum[string], optional) - Sort order for the list of Events.
        + Members
            + start_asc
            + start_desc
            + created_asc
            + created_desc
    + show_series_parent: false (boolean, optional) - false (Default) = In the list, show the series children and not series parent. true = In the list, show the series parent instead of series children. 
    + status: live (enum[string], optional) - Filter Organization's Events by status. Specify multiple status values as a comma delimited string.
        + Members
            + draft - A preliminary form of a possible future Event. 
            + live - The Event can accept registrations or purchases if ticket classes are available. 
            + started - The Event start date has passed.
            + ended - The Event end date has passed. 
            + completed - The funds for your Event have been paid out.
            + canceled - The Event has been canceled. 
            + all - List Events with any status.
    + event_group_id (string, optional) -  Filter Organization's Events by event_group_id.
    + page_size: 50 (interger, optional) - Number of records to display on each page of the list.
    + time_filter: all (string, optional) - Limits the list results to either past or current and future Events.
      + Members
            + all
            + past
            + current_future
    + venue_filter (list, optional) - Filter Organization's Events by Venue ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + events (array[Event])

### List Events by Series [GET /series/{event_series_id}/events]

List Events by Event Series ID. Returns a paginated response.


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
    + `time_filter` (enum[string], optional) - Limits the list results to either past or current and future Events.
        + Members
            + all
            + past
            + `current_future`
    + `order_by` (enum[string]) - Sort order for the list of Events.
        + Members
            + `start_asc`
            + `start_desc`
            + `created_asc`
            + `created_desc`
    + `start_date.range_start` (datetime, optional) - Return only Events in the series past this date 
    + `start_date.range_end` (datetime, optional) - Return only Events in the series before this date
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + events (array[Event])
                
## Publish [/events-publish/]

### Publish an Event [POST /events/{event_id}/publish/]

Publish an Event. Returns a boolean indicating the success or failure of the publish action. 

Deleted Events can not be published.


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + published: true (boolean)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + ALREADY_PUBLISHED_OR_DELETED - This event has already been published or deleted.
                + NO_PAYMENT_OPTIONS - This event has paid tickets but no payment options configured.
                + PAYMENT_OPTIONS_DEPRECATED_SPLIT_FEES - This event has split fees configured. Split fees are no longer supported, and you cannot publish events with split fees enabled.
                + PAYMENT_OPTIONS_NO_COUNTRY - This event has paid tickets but no payment country configured.
                + PAYMENT_OPTIONS_NO_PAYMENT_TYPE - This event has paid tickets but no payment type configured.
                + PAYMENT_OPTIONS_PAYPAL_NO_EMAIL - This event has paid tickets and is configured to use PayPal, but no PayPal email address has been specified.
                + PUBLISH_FREE_EVENT_FEATURE_DENIED - You have reached your limit of free events in Professional.

## Unpublish [/events-unpublish/]

### Unpublish an Event [POST /events/{event_id}/unpublish/]

Unpublish an Event. Returns a boolean indicating the success or failure of the unpublish action.

To unpublish a free Event, including a past free Event, the Event must not have any pending or completed orders.  

A completed and paid out paid Event can be unpublished. A paid Event that is not completed and paid out can only be unpublished if the Event does not have any pending or completed orders.


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + unpublished: true (boolean)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + ALREADY_CANCELED - This event has already been canceled.
                + CANNOT_CANCEL - You have attempted to cancel an event that has pending or completed sales of paid tickets. The event cannot be canceled until all of these sales are refunded.

## Copy [/events-copy/]
### Copy an Event [POST /events/{event_id}/copy/]

Copy the Event, creating a duplicate version of the Event with a new Event ID. Use to create a new Event based on an existing Event. Returns the Event object for the newly created Event.


+ Parameters
    + event_id: 12345 (string) - Event ID.

+ Request
    + Attributes (Event Copy)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Event)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + INSUFFICIENT_PACKAGE - You need to upgrade your package to clone this event. Go to /users/:id/assortment/ to select a package
                + INVALID_END_DATE - An event end date must be between 1 minute[s] and 365 day[s] after the event start time.
                + INVALID_START_DATE - An event start date must be between now and 10 years from now.
                + UNABLE_TO_COPY_EVENT - We are currently unable to copy this event. Recovery from this error is not possible.
                + UNSUPPORTED_TIMEZONE - The timezone provided for start and end times is not supported.

## Cancel [/events-cancel/]
### Cancel an Event [POST /events/{event_id}/cancel/]

Cancel an Event. Returns a boolean indicating the success or failure of the cancel action.

To cancel an Event, the Event must not have any pending or completed orders.   


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + canceled: true (boolean)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + ALREADY_CANCELED - This event has already been canceled.
                + CANNOT_CANCEL - You have attempted to cancel an event that has pending or completed sales of paid tickets. The event cannot be canceled until all of these sales are refunded.

## Delete [/events-delete/]
### Delete an Event [DELETE /events/{event_id}/]

Delete an Event. Returns a boolean indicating the success or failure of the delete action.

To delete an Event, the Event must not have any pending or completed orders.   


+ Parameters
    + event_id: 12345 (string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + deleted: true (boolean)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + ALREADY_DELETED
                + CANNOT_DELETE

# Group Event Description

<a name="event_description"></a>
## Event Description

Event Descriptions have two representations:

1. A fully-rendered HTML version of the event description, and
2. A "raw" version of the description that is broken up into its distinct modules.


|         Field         |                 Type               |                          Description                           |
| :-------------------- | :--------------------------------- | -------------------------------------------------------------- |
| `page_version_number` | `string`                           | The number representing the current version of the description |
| `modules`             | `array[Structured Content Module]` | The list of Modules                                            |


### Structured Content Modules

Event descriptions are comprised of one or more modules, and there are two currently-supported module types: `text` and `image`.
Each module type will contain type-specific `data`.

|  Field  |    Type   |                                                                                                                                                                                                        Description                                                                                                                                                                                                                 |
| :------ | :-------- | :----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `type`  | `string`  | Module type. We currently support `text` and `image` types, but this list will change as more module types are added. Clients should be prepared to handle modules types they don't know how to render. In this case, clients may refuse to render the edit interface for these modules, but they should at a minimum store the data associated with these types and send it back to the server when sending edits of known types. |
| `data`  | `object`  | The module data specific for this module type.                                                                                                                                                                                                                                                                                                                                                                                     |


## Retrieve 
### Retrieve Full HTML Description [GET /event/{event_id}/description/]

Returns the fully rendered description for an Event as a string of HTML.

#### Permissions
`event.details:read`

+ Parameters
    + event_id: 12345 (string, required) - Event ID.
+ Response 200 (application/json)
    + Attributes
        + description (string)
+ Response 400 (application/json)
    + Attributes
        + error (enum[string])
            + Members
                + NOT_AUTHORIZED - The user does not have permission to view details of this event.
                + ARGUMENTS_ERROR - event.id - INVALID: The identifier provided doesn't match a known event


### Retrieve Raw Description as List of Modules [GET /event/{event_id}/structured_content/]

Returns a "raw" version of the description for an Event as a list of Structured Content Modules.


#### Permissions
`event.details:read`

+ Parameters
    + event_id: 12345 (string, required) - Event ID
+ Response 200 (application/json)
    + Attributes
        + page_version_number (string) - The current version of the event's description
        + modules (array[Structured Content Module]) - The list of module objects that make up the description
+ Response 400 (application/json)
    + Attributes
        + error (enum[string])
            + Members
                + NOT_AUTHORIZED - The user does not have permission to view this event's description
                + ARGUMENTS_ERROR - event.id - INVALID: The identifier provided doesn't match a known event


## Set [/event-description-set/]

### Set an Event's Description [POST /events/{event_id}/structured_content/{page_version_number}/]

Create or update the description for the event.

**Note**: If the event does not yet have a description and you'd like to create one, supply a `page_version_number` of zero (0).

#### Internal
SOA Action: `event.set_event_structured_content`

#### Permissions
`event.listing`

+ Parameters
    + event_id: 12345 (string, required) - Event ID
    + page_version_number: "123" (string, required) - The current version of the description
+ Request
    + Attributes
        + modules: (array[Structured Content Module], required) - The list of module objects to use for the description.
    + Headers
        + Authorization: Bearer PERSONAL_OAUTH_TOKEN
        + Content-Type: application/json
+ Response 200 (application/json)
    + Attributes
        + page_version_number (string) - The number representing the current version of the event's description
        + modules (array[Structured Content Module]) - The list of module objects that make up the description
+ Response 400 (application/json)
    + Attributes
        + error (enum[string])
            + Members
                + NOT_AUTHORIZED - The user does not have permission to view this event's description
                + PAGE_VERSION_DISCONTINUITY - The supplied `page_version_number` does not match the expected (current) version number
                + ARGUMENTS_ERROR - modules - MODULES_LIMIT_REACHED: You have used the maximum allowed number of modules (100)
                + ARGUMENTS_ERROR - page_id - PAGE_VERSION_LIMIT_REACHED: You have used the maximum allowed number of versions for this description (5000)


# Group Event Series

<a name="series_object"></a>
## Event Series Object
An Event Series is a repeating [Event](#event_object) with a sequence of multiple and various dates. These dates may or may not be in a predictable order.

An Event Series is made up of the parent Event, and child Events that represent each different date of the parent Event. Each child Event is created with the details of the parent Event.

## Retrieve [/series/]

### Retrieve an Event Series [GET /series/{event_series_id}/]
Retrieve the parent Event Series by Event Series ID. 


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Event)
        + `series_dates` (array[Event Series Date], optional) - The series dates of the parent event. (requires the `series_dates` expansion)

## Create [/series-create/]

### Create an Event Series [POST /organizations/{organization_id}/series/]
Create a new Event Series.

> Note: The POST data must include information on at least one Event date within the series.


+ Parameters
    + organization_id: 12345 (string, required) - ID of the Organization that owns the Event Series.
+ Request
    + Attributes
        + series_parent (Event Series Create, required)
        + create_children (array[Event Series Date Create], required) - A list of dates for which child Events should be created.
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + series_parent (Event)
        + children_created (array[string]) - The list of series event IDs created
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + DATE_CONFLICT - Start date cannot be after end date
                + DIFFERENT_TIMEZONES - The start and end dates for one or more event dates do not have matching time zones. All time zones must be the same across all start and end dates.
                + INVITE_CONFLICT -You have set both listed and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + NO_DEFAULT_ORGANIZER - The event does not have an organizer ID, and no default organizer could be found for the user.
                + NO_VENUE - You must set a venue in order to post this event.
                + PASSWORD_CONFLICT - You have set both listed and password; these two options are mutually exclusive, and you are only allowed to set one.
                + SHARE_INVITE_CONFLICT - You have set both shareable and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + UNSUPPORTED_TIMEZONE - The time zone for one or more event dates does not exist.
                + VENUE_AND_ONLINE - You have set both online_event and venue_id; an event can either have a venue or be online, but not both at the same time
                + SUMMARY_DESCRIPTION_CONFLICT - You have set values for both `summary` and `description`; these two options are mutually exclusive, and you may only set one.

## Update [/series-update/]

### Update an Event Series [POST /series/{event_series_id}/]

Update parent Event Series by Event Series parent ID. 

Use Update to change dates in the Event Series. This includes creating additional Event dates, or updating and deleting existing Event dates in the series. In order for a series date to be updated or deleted, there must be no pending or completed Orders for that child Event.


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series parent ID.
+ Request
    + Attributes (object)
        + `series_parent` (Event Series Create, required)
        + `create_children` (array[Event Series Date Create], required) - A list of dates for which child Events should be created.
        + `update_children`: `{"12345": {"start": {"timezone": "America/Los_Angeles", "utc": "2018-09-12T02:00:00Z"}, "end": {"timezone": "America/Los_Angeles", "utc": "2018-09-12T02:00:00Z"}}}` (string, optional) - A json encoded string with a map of Event IDs to modified date objects for updating child Events.
        + `delete_children`: 1234,5678,9012 (string, optional) - A comma-separated list of child Event IDs that should be deleted.
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + series_parent (Event) - The Parent event created.
        + children_created (array[string], optional) - The list of series event IDs created
        + number_deleted (number, optional) - The quantity of series event IDs deleted
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + DIFFERENT_TIMEZONES - The start and end dates for one or more event dates do not have matching time zones. All time zones must be the same across all start and end dates.
                + INVITE_CONFLICT - You have set both listed and invite_only; these two options are mutually exclusive, and you are only allowed to set one.
                + NO_DEFAULT_ORGANIZER - The event does not have an organizer ID, and no default organizer could be found for the user.
                + NO_PAYMENT_OPTIONS - You must set payment options in order to post this event.
                + NO_VENUE - You must set a venue in order to post this event.
                + PASSWORD_CONFLICT - You have set both listed and password; these two options are mutually exclusive, and you are only allowed to set one.
                + PAYMENT_OPTIONS_DEPRECATED_SPLIT_FEES - Split fee functionality is being deprecated.
                + PAYMENT_OPTIONS_NO_COUNTRY - You must select a country when setting payment options.
                + PAYMENT_OPTIONS_NO_PAYMENT_TYPE - You must select a payment type when setting payment options
                + PAYMENT_OPTIONS_PAYPAL_NO_EMAIL - You must provide your paypal email when selecting paypal as a payment option.
                + SHARE_INVITE_CONFLICT - You have set both shareable and invite_only; these two options are mutually exclusive, and you are only allowedto set one.
                + UNSUPPORTED_TIMEZONE - The time zone for one or more event dates does not exist.
                + VENUE_AND_ONLINE - You have set both online_event and venue_id; an event can either have a venue or be online, but not both at the same time.
                + SUMMARY_DESCRIPTION_CONFLICT - You have set values for both `summary` and `description`; these two options are mutually exclusive, and you may only set one.

## Publish [/series-publish/]

### Publish an Event Series [POST /series/{event_series_id}/publish/]

Publishes an Event Series and all of it's repeating occurances. Returns a boolean indicating the success or failure of the publish action. Also returns argument errors for Event fields that fail to validate the publish requirements.

A deleted Event Series can not be published.


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + published (boolean) - True if the series event was published.
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + ALREADY_PUBLISHED_OR_DELETED - This series has already been published or deleted.
                + NO_PAYMENT_OPTIONS - This series has paid tickets but no payment options configured.
                + PAYMENT_OPTIONS_DEPRECATED_SPLIT_FEES - This series has split fees configured. Split fees are no longer supported, and you cannot publish events with split fees enabled.
                + PAYMENT_OPTIONS_NO_COUNTRY - This series has paid tickets but no payment country configured.
                + PAYMENT_OPTIONS_NO_PAYMENT_TYPE - This series has paid tickets but no payment type configured.
                + PAYMENT_OPTIONS_PAYPAL_NO_EMAIL - This series has paid tickets and is configured to use PayPal, but no PayPal email address has been specified.
                + PUBLISH_FREE_EVENT_FEATURE_DENIED - You have reached your limit of free events in Professional.
                + ARGUMENTS_ERROR - event.name - MISSING: Your event must have a name to be published.
                + ARGUMENTS_ERROR - event.start - MISSING: Your event must have a start date to be published.
                + ARGUMENTS_ERROR - event.end - MISSING: Your event must have an end date to be published.
                + ARGUMENTS_ERROR - event.start.timezone - MISSING: Your event start and end dates must have matching time zones to be published.
                + ARGUMENTS_ERROR - event.organizer - MISSING: Your event must have an organizer to be published.
                + ARGUMENTS_ERROR - event.currency - MISSING: Your event must have a currency to be published.
                + ARGUMENTS_ERROR - event.currency - INVALID: Your event must have a valid currency to be published.
                + ARGUMENTS_ERROR - event.tickets - MISSING: Your event must have at least one ticket to be published.
                + ARGUMENTS_ERROR - event.tickets.N.name - MISSING: All tickets must have names in order for your event to be published. The N will be the ticket class ID with the error.
                + ARGUMENTS_ERROR - event.tickets.N.quantity_total - MISSING: All non-donation tickets must have an available quantity value in order for your event to be published. The N will be the ticket class ID with the error.
                + ARGUMENTS_ERROR - event.tickets.N.cost - MISSING: All non-donation tickets must have a cost (which can be 0.00 for free tickets) in order for your event to be published. The N will be the ticket class ID with the error.

## Unpublish [/series-unpublish/]

### Unpublish an Event Series [POST /series/{event_series_id}/unpublish/]

Unpublishes an Event Series and all of it's repeating occurances that are not already completed, canceled, or deleted. Returns a boolean indicating the success or failure of the unpublish action.

To unpublish a free Event Series, including a past free Event Series, the Event Series must not have any pending or completed orders for any of the series dates.

A completed and paid out paid Event Series can be unpublished. A paid Event Series that is not completed and paid out can only be unpublished if the Event Series does not have any pending or completed orders for any of the series dates.


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + unpublished (boolean) - True if the series event was unpublished.
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + `CANNOT_UNPUBLISH` - You have attempted to unpublish a repeating event series that has pending or completed sales of paid tickets for one or more of its dates (and those dates are not in the past, completed, and paid out), or has pending or completed sales of free tickets (any date, ever).
                + `NOT_PUBLISHED` - This series is not currently published and cannot be unpublished.

## Cancel [/series-cancel/]

### Cancel an Event Series [POST /series/{event_series_id}/cancel/]

Cancels an Event Series and all of it's repeating occurances that are not already completed, canceled, or deleted. 
Returns a boolean indicating the success or failure of the cancel action.

To cancel an Event Series, the Event Series must not have any pending or completed orders for any of the series dates.   


+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + canceled (boolean) - True if the series event was unpublished.
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
               + ALREADY_CANCELED - This series has already been canceled.
               + CANNOT_CANCEL - You have attempted to cancel a repeating event series that has pending or completed sales of paid tickets for one or more of its dates. The series cannot be canceled until all of these sales are refunded for all dates.

## Delete [/series-delete/]

### Delete an Event Series [DELETE /series/{event_series_id}/]

Deletes an Event Series and all of it's repeating occurances that are not already completed, canceled, or deleted. Returns a boolean indicating the success or failure of the delete action.

To delete an Event Series, the Event Series must not have any pending or completed orders.
 

+ Parameters
    + `event_series_id`: 12345 (string, required) - Event Series ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + deleted (boolean) - True if the series event was deleted.
+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
               + ALREADY_DELETED - This series has already been deleted.
               + CANNOT_DELETE - You have attempted to delete a repeating event series that has pending or completed sales of paid tickets for one or more of its dates.

# Group Event Search

Lists public [Events](#event_object) from Eventbrite.

## List [/event-search-list/]
### Search Events [GET /events/search]
List public Events from Eventbrite. Returns a paginated response.

+ Parameters
    + q (string, optional) - Return only those Events matching the given keyword(s). Accepts any string as a keyword.
    + sort_by: date (enum[string], optional) - Sort order of list of Events. Prefix with a hyphen to reverse the sort order.
        + Members
            + date
            + distance
            + best
    + location.address (string, optional) - The address of the location you want to search for Events around.
    + location.within (string, optional) - The distance you want to search around the given location. This should be an integer followed by “mi” or “km”.
    + location.latitude (string, optional) - The latitude of the location you want to search for Events around.
    + location.longitude (string, optional) - The longitude of the location you want to search for Events around.
    + location.viewport.northeast.latitude (string, optional) - The latitude of the northeast corner of a viewport.
    + location.viewport.northeast.longitude (string, optional) - The longitude of the northeast corner of a viewport.
    + location.viewport.southwest.latitude (string, optional) - The latitude of the southwest corner of a viewport.
    + location.viewport.southwest.longitude (string, optional) - The longitude of the southwest corner of a viewport.
    + organizer.id (string, optional) - Filter Events organized by the given Organizer ID.
    + user.id (string, optional) - Filter Events owned by the given User ID.
    + categories (string, optional) - Filter Events under the given category IDs. This should be a comma delimited string of category IDs
    + subcategories (string, optional) - Filter Events under the given subcategory IDs. This should be a comma delimited string of subcategory IDs.
    + formats (string, optional) - Filter Events with the given format IDs. This should be a comma delimited string of format IDs.
    + price: free (enum[string], optional) - Filter Events that are “free” or “paid”.
        + Members
                + free
                + paid
    + `start_date.range_start` (local-datetime, optional) - Filter Events with start dates after the given date.
    + `start_date.range_end` (local-datetime, optional) - Filter Events with start dates before the given date.
    + `start_date.keyword`: today (enum[string], optional) - Filter Events with start dates within the given keyword date range.
       + Members
                + this_week
                + next_week
                + this_weekend
                + next_month
                + this_month
                + tomorrow
                + today
    + `date_modified.range_start` (datetime, optional) - Filter Events with modified dates after the given UTC date.
    + `date_modified.range_end` (datetime, optional) - Filter Events with modified dates before the given UTC date.
    + `date_modified.keyword`: today (enum[string], optional) - Filter Events with modified dates within the given keyword date range.
        + Members
                + this_week
                + next_week
                + this_weekend
                + next_month
                + this_month
                + tomorrow
                + today
    + `search_type`: promoted (string, optional) - Use the preconfigured settings for this type of search - Current option is “promoted”.
    + `include_all_series_instances` (boolean, optional) - Boolean for whether or not you want to see all instances of repeating Events in search results.
    + `include_unavailable_events` (boolean, optional) - Boolean for whether or not you want to see Events without tickets on sale.
    + `include_adult_events` (boolean, optional) - Boolean for whether or not you want to see Events with adult content.
    + `incorporate_user_affinities` (boolean, optional) - Incorporate additional information from the user’s historic preferences.
    + `high_affinity_categories` (string, optional) - Make search results prefer Events in these categories. This should be a comma delimited string of category IDs.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + events (array[Event])

# Group Ticket Class

<a name="ticket_class_object"></a>
## Ticket Class Object
The Ticket Class object represents a possible ticket class (i.e. ticket type) for an [Event](#event_object).

Typically, multiple different types of tickets for an Event can be purchased in one transaction. These ticket types do not necessarily map directly to the one [Attendee](#attendee_object) per one ticket model (instead for example, an Attendee might buy multiple tickets for different days of an [Event Series](#event_series_object)).

Ticket Classes can be one of the following types:
* **Free.** Ticket Classes that have no cost or currency. An Event with only free Ticket Classes is a free Event and doesn't require payout information.
* **Paid.** Ticket Classes with an associated cost in the Event's currency. Currency is specified in the Event object and is duplicated in the Ticket Class object as the return value of a `currency type`.
* **Donation.** Order owner is prompted to enter at their own discretion an amount to donate during checkout. There is no fixed cost of donation.

Ticket Class price can be communicated in a way that either includes Eventbrite fees in the total displayed price or shows fees split out as a separate cost from the total ticket price. The [User](#user_object) determines how costs are communicated.

Ticket Class responses for Events not owned by the [Organization](#organization_object) only shows cost and fees, as displayed on the Ticket Listing page. Results from Events the Organization owns also includes information on the `actual_cost` and `actual_fee`, which identify the amount of the ticket that the Organization is paid (actual_cost) and the Eventbrite fee deducted from the total charged amount (actual_fee).

Ticket Classes can be grouped using the [Ticket Group](#ticket_group_object) object, most commonly to apply a [Cross-Event Discount](#discount_object) to multiple Ticket Classes.

#### Public Fields
Use these fields to specify information about a Ticket Class. For publically listed Events, this Ticket Class information can be viewed by all [Users](#user_object) and Eventbrite applications.

|       Field        |    Type    |                                                          Description                                                          |
| :----------------- | :--------- | ----------------------------------------------------------------------------------------------------------------------------- |
| `name`             | `string`   | Ticket Class name.                                                                                                            |
| `description`      | `string`   | (Optional) Ticket Class description.                                                                                          |
| `cost`             | `currency` | Display cost of the Ticket Class (paid only) on Ticket Listing page.                                                          |
| `fee`              | `currency` | Display fee of the Ticket Class (paid only) on Ticket Listing page.                                                           |
| `donation`         | `boolean`  | true = Ticket Class is a Donation.                                                                                            |
| `free`             | `boolean`  | true = Ticket Class is Free.                                                                                                  |
| `minimum_quantity` | `integer`  | Minimum number of tickets that can be purchased per [Order](#order_object).                                                   |
| `maximum_quantity` | `integer`  | Maximum number of tickets that can be purchased per Order.                                                                    |
| `has_pdf_ticket`   | `boolean`  | true = Attendee receives a PDF Order confirmation.                                                                            |
| `delivery_methods` | `list`     | List of delivery methods enabled for this Ticket Class. Possible values are: [`electronic`, `will_call`, `standard_shipping`] |
| `category`         | `string`   | Ticket class category to which a ticket class belongs. One of: `admission`, `add_on`, `donation`                              |

#### Private Fields
Use these fields to specify properties of a Ticket Class that are only available [Organizations Members](#members_object).

|            Field             |    Type    |                                                                           Description                                                                            |
| :--------------------------- | :--------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `quantity_total`             | `integer`  | Number of this Ticket Class available for sale.                                                                                                                  |
| `quantity_sold`              | `integer`  | Number of this Ticket Class that has previously been sold (does not include tickets being purchased in real time).                                               |
| `hidden`                     | `boolean`  | true = Ticket Class is hidden from the public.                                                                                                                   |
| `sales_start`                | `datetime` | Date and time that sales for this Ticket Class begin.                                                                                                            |
| `sales_end`                  | `datetime` | Date and time that sales for this Ticket Class end.                                                                                                              |
| `sales_start_after`          | `string`   | ID of a Ticket Class that, when another Ticket Class sells out, triggers the start of sales of this ticket class.                                                |
| `include_fee`                | `boolean`  | true = Ticket fee included in the ticket price as shown on the Ticket Listing page. This parameter cannot be used in conjunction with the `split_fee` parameter. |
| `split_fee`                  | `boolean`  | true = Ticket fee not included in the ticket price as shown on the Ticket Listing page. Instead the `actual_cost` and `actual_fee` are displayed separately.     |
| `hide_description`           | `boolean`  | true = Ticket Class description hidden on the Ticket Listing page (also removes `description` from public responses).                                            |
| `auto_hide`                  | `boolean`  | true = Ticket Class hidden on the Ticket Listing page when tickets are not for sale .                                                                            |
| `auto_hide_before`           | `datetime` | Overrides the default time that auto hide is automatically disabled, so that the ticket class continues to be displayed. Otherwise `sales_start` is shown.       |
| `auto_hide_after`            | `datetime` | Override the default time that auto hide is automatically enabled, so that the the ticket class continues to be hidden. Otherwise `sales_end` is shown.          |
| `order_confirmation_message` | `string`   | Confirmation message displayed when an Order is completed.                                                                                                       |

#### Expansions
Information from expansions fields are not normally returned when requesting information. To receive this information in a request, expand the request.

| Expansion |   Source   |         Description         |
| :-------- | :--------- | --------------------------- |
| `event`   | `event_id` | Event for the Ticket Class. |

## Retrieve [/ticket_classes/]
### Retrieve a Ticket Class [GET /events/{event_id}/ticket_classes/{ticket_class_id}/]
Retrieve a Ticket Class by Ticket Class ID. 


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
    + `ticket_class_id`: 12345 (string) - Ticket Class ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Class)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
              + AUTO_HIDE_NOT_SET - You must select an auto hide setting.

## Create [/ticket_classes-create/]
### Create a Ticket Class [POST /events/{event_id}/ticket_classes/]

Create a new Ticket Class.


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
+ Request
    + Attributes (object)
        + `ticket_class` (Ticket Class Create)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Class)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
              + AUTO_HIDE_NOT_SET - You must select an auto hide setting.
              + BAD_QUANTITIES - The sum of tickets across ticket classes is not equal to the sum of total tickets available.
              + COST_GREATER_THAN_FEE - The cost of the ticket class must be greater than the fee.
              + CURRENCY_MISMATCH - Event currency ticket currency must match.
              + DONATION_AND_COST - A ticket cannot be a donation and a charged ticket.
              + DONATION_AND_FREE - A ticket cannot be a donation and a free ticket.
              + DONATION_AND_MIN_QUANTITY - Please set a minimum quantity for donation ticket.
              + FREE_AND_COST - A ticket cannot be a free ticket and a charged ticket.
              + INSUFFICIENT_PACKAGE - You need to upgrade your package to create more than one ticket. Go to /users/id/assortment/ to select a package
              + INVALID_DELIVERY_METHOD - A ticket under this event organization cannot have this delivery method.
              + INVALID_EVENT - This event is not qualified to have tickets.
              + NO_COST - A price must be set for a charged ticket.
              + NO_QUANTITY_TOTAL - A quantity total must be set for this ticket.
              + SPLIT_AND_INCLUDE - You cannot split fees and include them in the price of the ticket.
              + SPLIT_FEES_DEPRECATED - This functionality is being deprecated.


## Update [/ticket_classes-update/]
### Update a Ticket Class [POST /events/{event_id}/ticket_classes/{ticket_class_id}/]

Update Ticket Class by Ticket Class ID.


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
    + `ticket_class_id`: 12345 (string) - Ticket Class ID.

+ Request
    + Attributes (object)
        + `ticket_class` (Ticket Class Create)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Class)

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + AUTO_HIDE_NOT_SET - You must select an auto hide setting.
                + BAD_QUANTITIES - The sum of tickets across ticket classes is not equal to the sum of total tickets available.
                + CANNOT_UPDATE_COST - Cannot change the ticket price after tickets have been sold
                + CIRCULAR_SALES_START_AFTER - Cannot start circular sales.
                + COST_GREATER_THAN_FEE - The cost of the ticket class must be greater than the fee.
                + CURRENCY_MISMATCH - Event currency ticket currency must match.
                + DONATION_AND_COST - A ticket cannot be a donation and a charged ticket.
                + DONATION_AND_FREE - A ticket cannot be a donation and a free ticket.
                + DONATION_AND_MIN_QUANTITY - Please set a minimum quantity for donation ticket.
                + FREE_AND_COST - A ticket cannot be a free ticket and a charged ticket.
                + INVALID_DELIVERY_METHOD - A ticket under this event organization cannot have this delivery method.
                + INVALID_EVENT - Create or update the ticket from the parent event instead.
                + INVALID_TICKET - Cannot update child ticket directly, update parent ticket rule instead.
                + NO_COST - A price must be set for a charged ticket.
                + NO_QUANTITY_TOTAL - A quantity total must be set for this ticket.
                + SPLIT_AND_INCLUDE - You cannot split fees and include them in the price of the ticket.
                + SPLIT_FEES_DEPRECATED - This functionality is being deprecated.


## List [/ticket_classes-list/]
### List Ticket Class by Event [GET /events/{event_id}/ticket_classes/]

List Ticket Classes by Event ID. Returns a paginated response.


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
    + category: admission (optional, array[enum[string]]) - Filter Ticket Classes by Category
        + Members
            + all
            + admission
            + add_on
            + donation
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + pagination (Pagination)
        + ticket_classes (array[Ticket Class])


## Delete [/ticket_classes-delete/]
### Delete a Ticket Class [DELETE /events/{event_id}/ticket_classes/{ticket_class_id}/]

Delete a Ticket Class. 


+ Parameters
    + event_id: 12345 (required, string) - Event ID.
    + `ticket_class_id`: 12345 (string) - Ticket Class ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + deleted: true (string) - True if the ticket class was deleted

+ Response 400 (application/json)
    + Attributes (Error)
        + error (enum[string])
            + Members
                + HAS_ATTENDEES - You can't delete this ticket because it's already been ordered by attendees. Refund or cancel those orders to delete this ticket.
                + IS_STARTED_AFTER - Another ticket class is configured to start when this one ends, so it cannot be deleted.
                + LAST_TICKET - You cannot delete the last ticket class of a published event.

# Group Ticket Group

<a name="ticket_group_object"></a>
## Ticket Group Object
The Ticket Group object is used to group [Ticket Classes](#ticket_class_object). 

Most commonly used to apply a [Cross-Event Discount](#discount_object) to multiple Ticket Classes.

#### Fields

|       Field        |     Type     |                                                                                             Description                                                                                             |
| :----------------- | :----------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| `name`             | `string`     | Ticket Group name. A name containing more than 20 characters is automatically truncated.                                                                                                            |
| `status`           | `string`     | Ticket Group status. Can be `transfer`, `live`, `deleted` or `archived`. By default, the status is `live`.                                                                                          |
| `event_ticket_ids` | `dict`       | Dictionary showing the Ticket Class IDs associated with a specific Event ID.                                                                                                                        |
| `tickets`          | `objectlist` | List of Ticket Class. Includes for each Ticket Class `id`, `event_id`, `sales_channels`, `variants` and `name`. By default this field is empty, unless the Ticket Class Expansions fields are used. |

## Retrieve [/ticket_groups/]

### Retrieve a Ticket Group [GET /ticket_groups/{ticket_group_id}/]
Retrieve a Ticket Group by Ticket Group ID.

+ Parameters
    + ticket_group_id: 1 (required, string) - Ticket Group ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Group)

## Create [/ticket_groups-create/]

### Create a Ticket Group [POST /organizations/{organization_id}/ticket_groups/]
Create a new Ticket Group for an [Organization](#organization_object). 

Maximum number of 200 live Ticket Groups per Organization; archived or deleted Ticket Classes are not included in this limitation.

+ Parameters
    + organization_id: 1 (required, string) - Organization ID.
+ Request
    + Attributes (object)
        + `ticket_group` (Ticket Group Create)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Group)

## Update [/ticket_groups-update/]

### Update a Ticket Group [POST /ticket_groups/{ticket_group_id}/]
Update Ticket Group by Ticket Group ID.

+ Parameters
    + ticket_group_id: 1 (required, string) - Ticket Group ID.
+ Request
    + Attributes (object)
        + `ticket_group` (Ticket Group Create)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Group)

## Add Ticket Class [/ticket_groups-add-ticket-class/]

### Add a Ticket Class to  Ticket Groups [POST /organizations/{organization_id}/events/{event_id}/ticket_classes/{ticket_class_id}/ticket_groups/]
Add a Ticket Class to Ticket Groups by Organization ID and Event ID.

To remove a Ticket Class from every Ticket Group owned by an Organization, leave the Ticket Group ID empty.

+ Parameters
    + organization_id: 1 (required, string) - ID of the Organization that owns the Ticket Group.
    + event_id: 123 (required, string) - ID of the Event that owns the Ticket Class. 
    + ticket_class_id: 12345 (required, string) - ID of the Ticket Class to add to the Ticket Group.
+ Request
    + Attributes 
        + ticket_group_ids (optional, array[string]) - a list of ticket groups that will have the ticket class added to them
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 204 (application/json)

## List [/ticket_groups-list/]

### List Ticket Groups by Organization [GET /organizations/{organization_id}/ticket_groups]
List Ticket Groups by Organization ID. Returns a paginated response.

To include the Ticket Class name and sales channel in the response, add the Ticket Class expansion parameter.

+ Parameters
    + organization_id: 1 (required, string) - Organization ID.
    + status (optional, string) - Filter Ticket Groups by status. This can be `live`, `archived`, `deleted`, or `all`.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (object)
        + `ticket_groups` (array[Ticket Group])

## Delete [/ticket_groups-delete/]

### Delete a Ticket Group [DELETE /ticket_groups/{ticket_group_id}/]
Delete a Ticket Class. The status of the Ticket Group is changed to `deleted`.

+ Parameters
    + ticket_group_id: 1 (required, string) - Ticket Group ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes
        + deleted: true (required, boolean) - If it was deleted successfully or not.

# Group Ticket Buyer Settings

<a name="ticket_buyer_object"></a>
## Ticket Buyer Settings Object
Use this object to specify the following setting for an [Event's](#event_object) ticket buyers:
* Recieve confirmation message.
* Display instructions on ticket.
* ID of ticket Event.
* Ticket is refundable.
* Receive URL, in place of confirmation message, for post-purchase information.

## Retrieve [/ticket-buyer-settings/]
### Retrieve Ticket Buyer Settings by Event [GET /events/{event_id}/ticket_buyer_settings/]

Retrieve Ticket Buyer Settings by Event ID.

+ Parameters
    + event_id: 1234(required, string) - Event ID.
+ Request
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Buyer Settings)
    
## Update [/ticket-buyer-settings-update/]
### Update Ticket Buyer Settings for an Event [POST /events/{event_id}/ticket_buyer_settings/]

Update Ticket Buyer Settings by Event ID.

+ Parameters
    + event_id: 1234 (string, required) - Event ID.
+ Request
    + Attributes
        + ticket_buyer_settings (Ticket Buyer Settings Update)
    + Headers
    
            Authorization: Bearer PERSONAL_OAUTH_TOKEN
            Content-Type: application/json  
+ Response 200 (application/json)
    + Attributes (Ticket Buyer Settings)

# Group Order

<a name="order_object"></a>
## Order object
[...]
